body {
    background-color: #8fcc54;
}
.title {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    color: white;
    background-color: #202121;
    border-bottom: 5px solid black;
}

.page {
    background-color:rgb(147, 221, 77);
    margin-left: 350px;
    border: 2px solid black;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
       grid-template-rows: 1fr;
            grid-template-areas: "modelContainer statusContainer buttonContainer";

}
.modelContainer {
    width: 250px;
    height: auto;
    border-right: 1px solid;
    grid-area: "modelContainer";

}
.modelContainerBook {
    background-image: url('https://github.com/Freshairkaboom/Endless-Complexity/blob/main/assets/openbook.jpg?raw=true');
    background-size: 100%;
    background-position-y: -20px;
    width: 750px;
    height: 300px;
    grid-area: "modelContainer";

}

.closed {
    background-image:unset;
    background-size: 0%;
    height: 0px;
}

.bookText {
    margin-left: 125px;
    width: 250px;
    font-family:cursive;
}

.statuscontainer {
    width: 250px;
    border-right: 1px solid;
    grid-area: "statusContainer";

}

.buttoncontainer {
    width: 250px;
    grid-area: "buttonContainer";
}

.button {
    width: 50px;
    height: 20px;
    margin-left: 80.8px;
}
.button2 {
    width: 50px;
    height: 20px;
    margin-left: 64px;
    margin-bottom: 8px;
}

.saveandload {
    float: left;
}

.actionButton {
    margin: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.fightSequence {
    background-color: rgb(221, 80, 80)
}

.exploreSequence {
    background-color: chartreuse;
}

.opacity {
    background-color: rgba(147, 221, 77, 0.750);
}

.whitetext {
    color: white;
}
