*, *::before, *::after {
    box-sizing: border-box;

}

body {
    background-color:#333;
    background-image: url(https://mcdn.wallpapersafari.com/medium/58/10/rDRZdm.jpg);
    background-size: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
.title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px 5px;
    color: black;
    width: 750px;

}

.page {
    background-color: rgba(255, 255, 255, 0.81);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px;
    width: 750px;
    display: grid;
            grid-template-areas: "modelContainer statusContainer buttonContainer";

}
.modelContainer {
    width: 255px;
    border-right: 1px solid;
    grid-area: "modelContainer";

}
.modelContainerBook {
    background-image: url('https://github.com/Freshairkaboom/Endless-Complexity/blob/main/assets/openbook.jpg?raw=true');
    background-size: 100%;
    background-position-y: -20px;
    width: 750px;
    height: 300px;
    grid-area: "modelContainer";

}

.statuscontainer {
    width: 250px;
    border-right: 1px solid;
    grid-area: "statusContainer";

}

.buttoncontainer {
    width: 250px;
    grid-area: "buttonContainer";
}

.closed {
    background-image:unset;
    background-size: 0%;
    height: 0px;
}

.bookText {
    margin-left: 125px;
    width: 250px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.save {
    position: absolute;
    top: 0;
    left: 0;
}
.load {
    position: absolute;
    left: 50px;
}

.button {
    width: 50px;
    height: 20px;
    margin-left: 80.8px;

}
.button2 {
    width: 50px;
    height: 20px;
    margin-left: 64px;
    margin-bottom: 8px;
}

.button:hover {
    border: 1px solid red;
}
.button2:hover {
    border: 1px solid red;
}

.actionButton {
    margin: 10px;
    width: 180px;
    height: 60px;
    cursor: pointer;
}

.actionButton:hover {
    border: 1px solid red;
}

.startButton {
    width: 8rem;
    height: 6rem;

    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.whitetext {
    color: white;
}

.bg-start {
    position: absolute;

    top: 200px;
    left: 275px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
