body {
    background-image: url('/assets/bg.jpg');

}

.title {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    background-color: gray;
    border-bottom: 5px solid black;
}

.page {
    background-color: rgb(147, 221, 77);
    margin-left: 350px;
    margin-top: 150px;
    border: 2px solid black;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
       grid-template-rows: 1fr;
            grid-template-areas: "modelContainer statusContainer buttonContainer";

}
.modelContainer {
    width: 33vh;
    height: auto;
    border-right: 1px solid;
    grid-area: "modelContainer";

}

.modelBox {
    font-size: 1.9vh;
}

.bottomBox {
    font-size: 1.9vh;
}

.statuscontainer {
    width: 33vh;
    border-right: 1px solid;
    grid-area: "statusContainer";
    margin-left: -15px;
    font-size: 1.9vh;

}

.buttoncontainer {
    width: 20vh;
    grid-area: "buttonContainer";
}

.button {
    width: 50px;
    height: 20px;
}

.actionButton {
    margin: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.fightSequence {
    background-color: rgb(221, 80, 80)
}

.opacity {
    background-color: rgba(147, 221, 77, 0.750);
}
